@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.1);
  }
}

.about {
  background-color: #0a2750;
  color: #fff;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.about__title {
  top: 100px;
  left: 80px;
  margin-top: 100px;
  margin-left: 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  z-index: 1;
}

span {
  display: block;
}

.about__content {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  max-width: 650px;
  margin-top: 119px;
  margin-right: 80px;
  margin-bottom: 173px;
  z-index: 1;
}

.about__paragraph {
  margin: 0;
  font-family: Noto serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.about__circle {
  position: absolute;
  left: -192px;
  top: -200px;
  width: 495px;
  height: 495px;
  border-radius: 50%;
  background-color: #2f80ed;
  z-index: 0;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}
