.form__fieldset {
  border: none;
  padding: 0px;
}

.form__label {
  display: block;
  margin-bottom: 8px;
  margin-top: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label:first-of-type {
  margin-top: 0px;
}

.form__label_type-checkbox {
  display: flex;
  margin-bottom: 0;
  justify-content: center;
  gap: 12px;
}

.form__input {
  width: 385px;
  height: 64px;
  padding: 24px;
  background: #ffffff;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  box-sizing: border-box;
}

.form__input::placeholder {
  color: #838383;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__button {
  display: block;
  background: #2f71e5;
  border-radius: 4px;
  border: none;
  margin-top: 32px;
  margin-bottom: 32px;
  width: 385px;
  height: 64px;
  max-width: 385px;
  min-height: 60px;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox {
  border-radius: 2px;
  height: 20px;
  width: 20px;
}
