.recipes {
  background-color: #ffffff;
  background-image: url("../images/background_recipes.svg");
  background-size: cover;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.recipes__title {
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  margin-left: 80px;
  margin-top: 100px;
  margin-bottom: 0;
}

.recipes__subtitle {
  font-family: Noto serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  margin-left: 80px;
  margin-top: 24px;
  margin-bottom: 0;
}

.recipes__videos {
  padding-top: 80px;
  position: relative;
  display: flex;
  justify-content: center;
  /* frameborder: 0px; */
  gap: 40px;
}

.recipes__video-caption {
  padding-top: 24px;
  padding-bottom: 215px;
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
