.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-size: cover;
}

.reservation__form {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 120px;
}

.reservation__title {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
}

.form__fieldset {
  border: none;
  border-bottom: 1px solid #cfcfcf;
}

.form__fieldset:last-of-type {
  border: none;
}

.form__label {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
  margin-top: 32px;
}

.form__label[for="terms"] {
  display: inline;
  margin-left: 80px;
}

.form__input {
  width: 385px;
  height: 64px;
  padding: 24px;
  background: #ffffff;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  box-sizing: border-box;
}

.form__input::placeholder {
  color: #838383;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__input[type="number"]::placeholder {
  color: #000000;
}

.form__button {
  display: block;
  background: #2f71e5;
  border-radius: 4px;
  border: none;
  margin-top: 32px;
  margin-bottom: 32px;
  width: 385px;
  height: 64px;
  max-width: 385px;
  min-height: 60px;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox {
  border-radius: 2px;
  size: 20px 20px;
  min-width: 8px;
  min-height: 8px;
  padding-right: 12px;
}
