.events {
  padding: 100px 0 120px 80px;
  display: flex;
  align-items: start;
  box-sizing: border-box;
}

.events__content {
  flex-basis: 580px;
}

.events__heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
}

.events__title {
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
  margin: 32px 0;
}

.events__info-section {
  margin-top: 32px;
}

.event-info__item {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  font-weight: 500;
}

.event-info__icon {
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 12px;
  height: 24px;
  width: 24px;
}

.event-info__icon_type_calendar {
  background-image: url(../images/icon_calendar.svg);
}

.event-info__icon_type_pin {
  background-image: url(../images/icon_pin.svg);
}

.event-info__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
}

.events__description {
  margin: 40px 0 60px;
}

.events__more {
  margin-top: 60px;
  color: #2f80ed;
  text-decoration: none;
}
/* when hovered over, the link will turn blue */
.events__more:hover {
  color: #1f69c9;
}

.events__cover {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 780px;
  position: relative;
}

.events__image {
  max-width: 100%;
}

.person {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.person_name_feynman {
  top: -30px;
  left: 319px;
}

.person_name_burbidge {
  top: 96px;
  right: 125px;
}

.person_name_cannon {
  flex-direction: column-reverse;
  bottom: 18px;
  right: 216px;
}

.person_name_mitchell {
  flex-direction: column-reverse;
  bottom: 82px;
  left: 142px;
}

.person_name_tarter {
  top: 79px;
  left: 159px;
}

.person__image {
  max-width: 100%;
}

.person__image_size_l {
  width: 140px;
}

.person__image_size_m {
  width: 100px;
}

.person__image_size_s {
  width: 80px;
}

.person__caption {
  text-align: center;
  font-size: 14px;
  margin: 0;
}

.membership {
  padding-top: 100px;
  padding-bottom: 140px;
  background-color: #f2f2f2;
}

.membership__title {
  max-width: 574px;
  margin: 0 auto;
  text-align: center;
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
}

.membership__steps {
  list-style-type: none;
  padding: 0;
  margin: 100px 0 0;
  display: flex;
  justify-content: center;
  flex-basis: auto;
  column-gap: 40px;
}

.step {
  width: 220px;
}

.step__title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.step__icon {
  margin-left: 20px;
}

.step__description {
  margin: 10px 0 0;
}

.about {
  padding: 100px 80px;
  background-color: #1f1f1f;
  color: #fff;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  display: flex;
  column-gap: 120px;
}

.about__title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  z-index: 1;
  margin: 0;
}

.about__content {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  max-width: 660px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 32px;
}

.about__paragraph {
  z-index: 1;
  margin: 0;
}

.about__circle {
  background-color: #2f80ed;
  width: 495px;
  height: 495px;
  border-radius: 50%;
  position: absolute;
  top: -121px;
  left: -91px;
  z-index: 0;
}

.footer {
  box-sizing: border-box;
  background-color: #1f1f1f;
  color: #ffffff;
  padding: 57px 102px 60px 80px;
}

.footer__columns {
  display: flex;
  margin: auto;
}

.footer__column_type_hours {
  margin-left: auto;
}

.footer__column_type_social {
  padding-left: 100px;
}

.footer__logo {
  width: 153px;
}

.footer__list {
  /* The code below removes the default browser styles for lists */
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #f2f2f2;
}

.footer__list-item {
  margin-top: 16px;
  color: #f2f2f2;
}

.footer__column-heading {
  font-size: 16px;
  margin: 0;
}

.footer__column-link {
  color: white;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.footer__social-icon {
  margin-right: 10px;
}

.footer__copyrights {
  padding-top: 60px;
}
/* when hovered over, the link will turn gray */
.footer__column-link:hover {
  color: #c1c1c1;
}
